package layouts

templ Root(args RootArgs) {
	<!DOCTYPE html>
	<html lang="en">
		@Head(args)
		<body class="min-h-screen bg-background font-sans antialiased" data-signals="{theme: initTheme()}">
			<div class="relative flex min-h-screen flex-col bg-background">
				@Header(args)
				<!-- Main content -->
				<main class="flex-1">
					{ children... }
				</main>
				if !args.HideFooter {
					@Footer(args)
				}
			</div>
		</body>
	</html>
}
